<div class="landingPage teamPage">
	<a href="index.html" class="logo">
            <img src="images/logo-big.png" alt="Expense Manager" />
          </a>
		<h1 class="headText">Meet The Team</h1>
</div>
<div class="landingContainer">
<div class="landingContent text-center">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			
			<div class="avatars avatar1"></div>
			<div class="">
			<h2>Vaibhav Gupta</h2>
			<div class="social-profile">
				<a href="http://twitter.com/vaibhavgupta007" target="_blank"><span class="ion ion-social-twitter"></span></a>
				<a href="https://in.linkedin.com/in/vaibhavguptaiitd" target="_blank"><span class="ion ion-social-linkedin"></span></a>
				<a href="https://github.com/vaibhavguptaIITD" target="_blank"><span class="ion ion-social-github"></span></a>
			</div>
		</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			
			<div class="avatars avatar2"></div>
			<div class="">
			<h2>Harshit Purwar</h2>
			<div class="social-profile">
				<a href="http://twitter.com/harshitpurwar" target="_blank"><span class="ion ion-social-twitter"></span></a>
				<a href="https://www.linkedin.com/in/harshitpurwar" target="_blank"><span class="ion ion-social-linkedin"></span></a>
				<a href="https://github.com/hertzden" target="_blank"><span class="ion ion-social-github"></span></a>
			</div>
		</div>
		</div>
	</div>
	<div class="clearfix"></div>
		<hr class="dash">
		<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			
			<div class="avatars avatar3"></div>
			<div class="">
			<h2>Abhishek Singh</h2>
			<div class="social-profile">
				<a href="http://twitter.com/AbhiAKAGaurav" target="_blank"><span class="ion ion-social-twitter"></span></a>
				<a href="https://www.linkedin.com/in/abhishek-singh-198437b" target="_blank"><span class="ion ion-social-linkedin"></span></a>
				<a href="https://github.com/abhi05b" target="_blank"><span class="ion ion-social-github"></span></a>
			</div>
		</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			
			<div class="avatars avatar4"></div>
			<div class="">
			<h2>Shivam Rastogi</h2>
			<div class="social-profile">
				<a href="http://twitter.com/SR9292" target="_blank"><span class="ion ion-social-twitter"></span></a>
				<a href="https://www.linkedin.com/in/shivam-rastogi-855b4165" target="_blank"><span class="ion ion-social-linkedin"></span></a>
				<a href="https://github.com/shivamrastogi" target="_blank"><span class="ion ion-social-github"></span></a>
			</div>
		</div>
		</div>
	</div>
	</div>

<footer class="footer row text-center">
		<div class="col-sm-12 col-xs-12">
			<p>Hand-coded with all the <span class="ion-ios-heart ion"></span> by One Hit Wonders during @AngularAttack 2016.</p>
			<a href="#">Meet The Team</a>
		</div>
	</footer>
</div>