<div class="widget bottom-30px">
      <div class="widget-content" *ngFor="let guide of guides">
      	<p *ngIf="guide.type==='firstTransaction'">
		Get started by adding your first transaction. Click <a href="#"  class="" [routerLink]="['/transactions/add']">here</a>.
		</p>
		<p *ngIf="guide.type==='defineBudget'">
			Define budget for your expenses. Click <a href="#"  class="" [routerLink]="['/bugdet']">here</a>.
		</p>
		<p *ngIf="guide.type==='defineExpenseCategoryBudget'">
			Some expense categories have no budget allocated. Allocate budget in these categories. Click <a href="#"  class="" [routerLink]="['/bugdet']">here</a> to define budget.
		</p>
      </div>  
 </div>
