<!-- <p>
  overview works!
</p>

<div *ngFor="let parentAccount of parentAccounts">
	{{parentAccount.name}}
	<ul>
		<li *ngFor="let account of accounts[parentAccount.name]">
			{{account.name}}
		</li>
	</ul>
</div> -->
<div class="overview">
	<div class="overviewInner">
		<div class="row">
		         <div class="col-sm-12">
		            <h3>Get Started</h3>
		            <div class="row overviewCards">
		               <div class="col-md-3" *ngFor="let parentAccount of parentAccounts">
		               	<div class="widget bottom-30px">
		               		<div class="widget-header">
		    				<h3 class="">{{parentAccount.name}}</h3>
		    			</div>
		                   	<div class="widget-content">
			                   	<ul>
									<li *ngFor="let account of accounts[parentAccount.name]">
										<span class="ion-arrow-right-a ion"></span>{{account.name}}
									</li>
									<li *ngIf="!parentAccount.add">
										<button (click)="parentAccount.add=true">Add More</button>
									</li>
									<li *ngIf="parentAccount.add">
										<input type="text" [(ngModel)]="parentAccount.newAccountName">
										<button (click)="addAccount(
										parentAccount.newAccountName,parentAccount);parentAccount.add=false;parentAccount.newAccountName=null">Add</button>
									</li>
								</ul>
							</div>
						</div>
		               </div>
		            </div>
		         </div>
		      </div>
  		</div>
  </div>