<div class="overview">
	    <nav class="top-bar navbar-fixed-top" role="navigation">
	      <div class="logo-area col-sm-12">
	        <div class="logo pull-left">
	          <a href="index.html">
	            <img src="images/logo.png" alt="Expense Manager" />
	          </a>
	        </div>
	      </div>
	    </nav>
	<div class="overviewInner">
		<div class="row">
		         <div class="col-sm-12">
		            <h3 class="pull-left">We have setup your categories, based on common usage, you can add more sub-categories here.</h3> <a [routerLink]="['/dashboard']" class="btn btn-primary btn-raised btn-good">Look's Good</a>
		            <div class="row overviewCards">
		               <div class="col-md-3" *ngFor="let parentAccount of parentAccounts">
		               	<div class="widget bottom-30px">
		               		<div class="widget-header">
		    				<h3 class="">{{parentAccount.name}}</h3>
		    			</div>
		                   	<div class="widget-content">
			                   	<ul>
									<li *ngFor="let account of accounts[parentAccount.name]">
										<span class="ion-arrow-right-a ion"></span>{{account.name}}
									</li>
								</ul>
								<div class="addItem" *ngIf="!parentAccount.add">
									<button class="btn btn-link" (click)="parentAccount.add=true">+ Add New</button>
								</div>
								<form  #addCategoryForm="ngForm">
									<div class="inputs" *ngIf="parentAccount.add">
				                     <div class="form-group label-floating">
				                        <label for="i5" class="control-label">Sub Category</label>
				                        <input type="text"  [(ngModel)]="parentAccount.newAccountName" required ngControl="name" #name="ngForm" class="form-control" id="i5">
				                        <div [hidden]="name.pristine || name.valid">This is a required field</div>
				                     </div>
				                        <button [disabled]="!addCategoryForm.form.valid" class="btn btn-raised btn-primary" (click)="addAccount(
											parentAccount.newAccountName,parentAccount);parentAccount.add=false;parentAccount.newAccountName=null">
				                           Ok
				                           <div class="ripple-container"></div>
				                        </button>
				                  </div>
			              	  </form>
							</div>
						</div>
		               </div>
		            </div>
		         </div>
		      </div>
  		</div>
  		<footer class="footer footer-inner text-center">
		<div class="col-sm-12 col-xs-12">
			<p><span>&#169;</span> 2016, One Hit Wonders. All Rights Reserved.</p>
			<a href="#">Our Team</a>
		</div>
	</footer>
  </div>