



<div id="col-right" class="col-right ">
   <div class="container-fluid primary-content">
      <!-- PRIMARY CONTENT HEADING -->
      <div class="primary-content-heading clearfix">
         <h2 class="pull-left">BUDGET</h2>
     </div>
      <hr class="alt">
		      <p>
		  budget works!
		</p>
		<div *ngIf="!editBudget">
		Budget : {{model.budget}}

		Budget breakup

		<div *ngFor="let account of accounts">
			{{account | json}}
		</div>
		<button type="button" (click)="edit()">Edit Budget</button>
		</div>	

	
		<div *ngIf="editBudget" >
			<form (ngSubmit)="updateBudget()">
				Budget: <input type="number" [(ngModel)]="model.budget">
				<div *ngFor="let account of accounts">
					{{account.name}} : <input type="number" [(ngModel)]="budgetBreakup[account.name]">
				</div>
				<button type="submit">Update</button>
				<button type="cancel" (click)="cancel()">Cancel</button>
			</form>
		</div>
</div>


