<div class="widget bottom-30px">
   <div class="widget-content">
      <div class="healthCard clearfix">
      	<div *ngIf="financeHealthIndicator.health === -1">
            
         	<p class="healthText">Not enough data to calculate financial health. Click <a href="#"  class="" [routerLink]="['/transactions/add']">here</a> to add a new transaction.</p>
      	</div>
      	<div *ngIf="financeHealthIndicator.health === 0">
      		<span class="health-icon zero-star pull-left"></span>
         	<p class="healthText">Your financial health is strong.
                <span *ngIf="financeHealthIndicator.budgetHealth === -1">
                  However, define your budget to get better insights. Click <a href="#"  class="" [routerLink]="['/budget']">here</a>.
                </span>
            </p>
      	</div>

      	<div *ngIf="financeHealthIndicator.health === 1">
      		 <span class="health-icon one-star pull-left"></span>
         	 <p class="healthText">Your financial health is good. Keep Going!</p>
      	</div>

      	<div *ngIf="financeHealthIndicator.health === 2">
      		 <span class="health-icon two-star pull-left"></span>
         	     <p class="healthText">
                     Your financial health is ok.
                     <span *ngIf="financeHealthIndicator.liabilityHealth < financeHealthIndicator.budgetHealth">
                        Keep an eye on the budget though. Click <a href="#"  class="" [routerLink]="['/budget']">here</a> to review your budget.
                     </span>
                     <span *ngIf="financeHealthIndicator.liabilityHealth > financeHealthIndicator.budgetHealth">
                         Keep an eye on the liabilities though.
                     </span>
                     <span *ngIf="financeHealthIndicator.liabilityHealth === financeHealthIndicator.budgetHealth">
                         Keep an eye on both budget and liabilities though. Click <a href="#"  class="" [routerLink]="['/budget']">here</a> to review your budget.
                     </span>  
                  </p>
      	</div>
      	<div *ngIf="financeHealthIndicator.health === 3">
      		 <span class="health-icon three-star pull-left"></span>
         	 <p class="healthText">Your financial health is not ok. 
               <span *ngIf="financeHealthIndicator.liabilityHealth < financeHealthIndicator.budgetHealth">
                     It's time to hit the breaks on expenses! Click <a href="#"  class="" [routerLink]="['/budget']">here</a> to review your budget.
               </span>
               <span *ngIf="financeHealthIndicator.liabilityHealth > financeHealthIndicator.budgetHealth">
                     Take care of the liabilities before things get out of control!
               </span>
               <span *ngIf="financeHealthIndicator.liabilityHealth === financeHealthIndicator.budgetHealth">
                     It's time to hit the breaks on expenses and take care of the liabilities before things get out of control! Click <a href="#"  class="" [routerLink]="['/budget']">here</a> to review your budget.
               </span>  
               </p>
      	</div>

      	<div *ngIf="financeHealthIndicator.health === 4">
      		 <span class="health-icon four-star pull-left"></span>
         	 <p class="healthText">Your financial health is in a bad shape. 
                <span *ngIf="financeHealthIndicator.liabilityHealth < financeHealthIndicator.budgetHealth">
                     It's time to hit the breaks on expenses! Click <a href="#"  class="" [routerLink]="['/budget']">here</a> to review your budget.
               </span>
               <span *ngIf="financeHealthIndicator.liabilityHealth > financeHealthIndicator.budgetHealth">
                     Reducing liabilities should be your topmost concern.
               </span>
               <span *ngIf="financeHealthIndicator.liabilityHealth === financeHealthIndicator.budgetHealth">
                     It's time to hit the breaks on expenses and take care of the liabilities before things get out of control! Click <a href="#"  class="" [routerLink]="['/budget']">here</a> to review your budget.
               </span>  
            </p>
      	</div>
         
      </div>
   </div>
</div>
