<div class="landingPage">
	<a href="index.html" class="logo">
            <img src="images/logo-big.png" alt="Expense Manager" />
          </a>
	<h1>Manage your personal finance, assets and liability.</h1>
	<div class="callToAction "><button (click)="beginFlow()" class="btn btn-primary btn-landing btn-raised">Let's Get Started</button><span class="orText">OR</span><button (click)="goToDemo()" class="btn btn-raised btn-primary btn-landing">View Demo</button>	</div>
	<div class="banner">

		<div class="landingButtons">
			
	</div>
	</div>
	
</div>
<div class="landingContent">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			test1
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			test2
		</div>
	</div>
	</div>

<footer class="footer">
		<div class="col-sm-12 col-xs-12">
			<p><span>&#169;</span> 2016, One Hit Wonders. All Rights Reserved.</p>
			<a href="#">Our Team</a>
		</div>
	</footer>
