<div class="landingPage">
	<a href="index.html" class="logo">
            <img src="images/logo-big.png" alt="Expense Manager" />
          </a>
	<h1>Manage your personal finance, assets and liability.</h1>
	<div class="callToAction "><button (click)="beginFlow()" class="btn btn-primary btn-landing btn-raised">Let's Get Started</button><span class="orText">OR</span><button (click)="goToDemo()" class="btn btn-raised btn-primary btn-landing">View Demo</button>	</div>
	<div class="banner">

		<div class="landingButtons">
			
	</div>
	</div>
	
</div>
<div class="landingContainer">
<div class="landingContent">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			
			<div class="badgesGroup"></div>
			<div class="content">
			<h2>Earn badges based on your transactions</h2>
			<p>Easy to understand badges help you profile your expenses in a fun way. Badges like Traveller, Book Worm, Gym Rat motivate you towards achieving your life goals.</p>
		</div>
		</div>
		<div class="clearfix"></div>
		<hr class="dash">
		<div class="col-md-12 col-sm-12 col-xs-12">
			
			<div class="healthGroup"></div>
			<div class="content">
			<h2>Know your financial health</h2>
			<p>Based on your assets, liabilities, budget and expenses MoneyTrakr keeps you updated on your finances using easy to understand indicators.</p>
		</div>
		</div>
		<div class="clearfix"></div>
		<hr class="dash">
		<div class="col-md-12 col-sm-12 col-xs-12">
			
			<div class="helpGroup"></div>
			<div class="content helpContent">
			<h2>Your friendly financial guide</h2>
			<p>MoneyTrakr monitors your transactions closely and suggests you steps to keep your finances streamlined.</p>
		</div>
		</div>
	</div>
	</div>

<footer class="footer">
		<div class="col-sm-12 col-xs-12">
			<p><span>&#169;</span> 2016, One Hit Wonders. All Rights Reserved.</p>
			<a href="#">Our Team</a>
		</div>
	</footer>
</div>