<button (click)="navigate()" class="btn btn-raised btn-primary pull-right">See Transaction list</button>
<div class="row">
  <div class="col-sm-12">
    <div class="widget">
      <div class="widget-header">
        <h3>Add New Transaction</h3>
      </div>
      <div class="widget-content">
      <form  #transactionForm="ngForm" (ngSubmit)="addTransaction()">
        <div class="inputs">
          <div class="row">
            <div class="col-sm-6">
            <div class="form-group form-group-lg label-static">
              <label for="name" class="control-label">Merchant</label>
              <input type="text" class="form-control" [(ngModel)]="model.merchant" required ngControl="name" #name="ngForm">
              <div [hidden]="name.pristine || name.valid">Please provide a merchant. For eg, Pizza Hut, Amazon etc.</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group form-group-lg label-static">
              <label for="amount" class="control-label">Transaction Amount</label>
              <input type="number" class="form-control" [(ngModel)]="model.amount" required ngControl="transaction" #transaction="ngForm">
               <div [hidden]="transaction.pristine || transaction.valid">We need a transaction amount too. Please provide.</div>
             </div>
            </div>
          </div>
            <div class="form-group form-group-lg label-static">
              <label for="dateTime" class="control-label">Date</label>
              <input type="date" class="form-control" [(ngModel)]="model.date" required ngControl="dateTime" #dateTime="ngForm">
              <div [hidden]="dateTime.pristine || dateTime.valid">It will help you to maintain your history. Please provide.</div>
            </div>

            <div class="form-group form-group-lg label-static">
              <label for="fromAccount1" class="control-label">From Account</label>
              <input type="text" 
              [typeahead]="getAsyncData('from','Expense')"
              (typeaheadLoading)="changeTypeaheadLoading($event)"
              (typeaheadNoResults)="changeTypeaheadNoResults($event)"
              (typeaheadOnSelect)="typeaheadOnSelect($event,'from','Expense')"
              [typeaheadOptionsLimit]="7"
              class="form-control" [(ngModel)]="model.from.name" (focus)="clearList('from')" (blur)="onBlurMethod('from')" required>
              
            </div>

            <div *ngIf="showfromAccountParents" class="form-group form-group-lg label-static">
            <label for="fromParentSelect1" class="control-label">Please Select Associated Account</label>
              <select [(ngModel)]="fromParentSelect" class="form-control" required ngControl="fromParentSelect1" #fromParentSelect1="ngForm">
                <option value="">Select</option>
                <option *ngFor="let account of fromParentAccountsList" [ngValue]="account">{{account.name}}</option>
              </select>
              <div [hidden]="fromParentSelect1.pristine || fromParentSelect1.valid">Please choose a category to associate the 'From Account'.</div>
            </div>
            

            <div class="form-group form-group-lg label-static">
              <label for="to" class="control-label">To Account</label>
              <input type="text" class="form-control" 
              [typeahead]="getAsyncData('to','Income')"
              (typeaheadLoading)="changeTypeaheadLoading($event)"
              (typeaheadNoResults)="changeTypeaheadNoResults($event)"
              (typeaheadOnSelect)="typeaheadOnSelect($event,'to','Income')"
              [typeaheadOptionsLimit]="7"
              [(ngModel)]="model.to.name" (focus)="clearList('to')" (blur)="onBlurMethod('to')" required>
              
            </div>

            <div *ngIf="showtoAccountParents" class="form-group form-group-lg label-static">
            <label for="toParentSelect1" class="control-label">Please Select Associated Account</label>
              <select [(ngModel)]="toParentSelect" class="form-control" required ngControl="toParentSelect1" #toParentSelect1="ngForm">
                <option value="">Select</option>
                <option *ngFor="let account of toParentAccountsList" [ngValue]="account">{{account.name}}</option>
              </select>
               <div [hidden]="toParentSelect1.pristine || toParentSelect1.valid">Please choose a category to associate the 'To Account'.</div>
            </div>

           
            <div class="form-group form-group-lg label-static">
              <label for="comments" class="control-label">Comments</label>
              <input type="text" class="form-control" [(ngModel)]="model.comments">
            </div>  
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!transactionForm.form.valid">Submit</button>
            
          </form>
    </div>
</div>
</div>
</div>


<!-- <button type="button" class="btn btn-default" (click)="open()">Open me!</button>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
      From Account
    <div ng-if="fromAccountPresent">
        <select [(ngModel)]="selectedParent">
          <option value="">Select</option>
          {{parentAccounts}}
          <option *ngFor="let account of parentAccounts">{{account.name}}</option>
        </select>
    </div>
    To Account
    <div ng-if="toAccountPresent">
        <select [(ngModel)]="selectedParent">
          <option value="">Select</option>
          {{parentAccounts}}
          <option *ngFor="let account of parentAccounts">{{account.name}}</option>
        </select>
    </div>

    </modal-body>
     <button type="button" class="btn btn-default" data-dismiss="modal" (click)="dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="ok()">Ok</button>
</modal>
 -->
