<div id="col-right" class="col-right ">
   <div class="container-fluid primary-content">
      <!-- PRIMARY CONTENT HEADING -->
      <div class="primary-content-heading clearfix">
         <h2>TRANSACTIONS</h2>
         <ul class="breadcrumb pull-left">
            <li><i class="icon ion-home"></i><a href="#">Home</a></li>
            <li class="active">Transactions</li>
         </ul>
      </div>
<div class="row">
<nav>
    	<a [routerLink]="['add']">Add</a>
    	<a [routerLink]="['list']">List</a>
</nav>

<router-outlet></router-outlet>
</div>
</div>
</div>