<div id="col-right" class="col-right ">
   <div class="container-fluid primary-content">
      <div class="primary-content-heading clearfix">
         <h2 class="pull-left">TRANSACTIONS</h2>
         <badge-list></badge-list>
      </div>
      <hr class="alt">
      <a [routerLink]="['add']" class="btn btn-raised btn-primary pull-right">Add New Transaction</a>
      <!-- <a [routerLink]="['list']">List</a> -->
<div class="row">
  <div class="col-sm-12">
    <div class="widget">
      <div class="widget-header">
        <h3>Transaction List</h3>
      </div>
        <div class="widget-content">
          Transaction list goes here.
        </div>
      </div>
    </div>
</div>
<router-outlet></router-outlet>

</div>
</div>